In [22]:
import pandas as pd
import numpy as np

data = "./car_soh_data.csv"
df = pd.read_csv(data)

In [23]:
# df.head(5)
df.describe()

,model_year,battery_capacity_kWh,electric_range_km_reported,power_kW,top_speed_kmh,mileage_km,price_eur,soh
count,335.000000,335.000000,335.000000,321.000000,332.000000,335.000000,335.000000,335.000000
mean,2021.689552,70.595821,444.546269,202.618380,175.677711,76785.074627,28433.641791,93.821493
std,1.657602,18.172666,106.128623,91.317022,29.664515,40165.768985,11339.220627,3.529230
min,2015.000000,1.000000,1.000000,1.000000,20.000000,1000.000000,5790.000000,76.100000
25%,2021.000000,62.000000,400.000000,150.000000,160.000000,48500.000000,20885.000000,92.050000
50%,2022.000000,77.000000,460.000000,170.000000,160.000000,71000.000000,28190.000000,94.200000
75%,2023.000000,82.000000,515.000000,258.000000,190.750000,102000.000000,33585.000000,96.200000
max,2025.000000,112.000000,668.000000,585.000000,261.000000,227000.000000,85780.000000,101.200000

In [133]:
# sample = df.sample(1).iloc[0]
# sample
df["workdays"] = (pd.to_datetime(df["purchase_date"]) - pd.to_datetime(df["first_usage_date"])).dt.days

In [136]:
df_analysis = df[["manufacturer_and_model", "model_year", "workdays", "mileage_km", "soh"]]
df_analysis.head(5)

  manufacturer_and_model  model_year  workdays  mileage_km   soh
0                Kia EV6        2022      1133       23000  98.1
1            Skoda Enyaq        2022      1350      151000  90.7
2             Citroen C4        2022      1186       35000  94.0
3                Kia EV9        2024       514       38000  98.8
4      Mercedes-Benz EQV        2022      1349       87000  97.3

In [139]:
df_analysis["deg_per_mileage"] = ((100 - df_analysis["soh"]) / df_analysis["mileage_km"]) * 1000
df_analysis.head(5)

C:\Users\hesam\AppData\Local\Temp\ipykernel_15132\3660556015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_analysis["deg_per_mileage"] = ((100 - df_analysis["soh"]) / df_analysis["mileage_km"]) * 1000

,manufacturer_and_model,model_year,workdays,mileage_km,soh,deg_per_mileage
0,Kia EV6,2022,1133,23000,98.1,0.082609
1,Skoda Enyaq,2022,1350,151000,90.7,0.061589
2,Citroen C4,2022,1186,35000,94.0,0.171429
3,Kia EV9,2024,514,38000,98.8,0.031579
4,Mercedes-Benz EQV,2022,1349,87000,97.3,0.031034